html{
    height: 100%;
}
body{
    background-color: #c0c8ca;
    height: 100%;
}

.container{
    background-color:#eee;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    min-height: 100%;
}
.navbar{
    margin-bottom: 0px;
}
.jumbotron{
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}